.title {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    text-align: center;
    color: rgb(134, 151, 107);
    font-weight: 800;
}

.body {
    background: rgb(1, 24, 1);
}

.recipe-list{
    color: rgba(28, 138, 3, 0.697);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
    font-weight: 200;
}
a:link{
    color: rgb(100, 111, 29);
}

a:visited {
    color: rgb(132, 212, 3);
}

a:hover{
    color: rgb(34, 105, 55);
}

